.card-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid white;
    gap: 10%;
}

.card-container:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.card-title {
    height: 25%;
}